@model BugTracker.Models.ChangeNameViewModel
@{
    ViewBag.Title = "Change User Name";
}
@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Change your user name</h4>
                        <p class="category">Change user name here: </p>
                    </div>
                    <div class="content">
                        @using (Html.BeginForm("ChangeUserName", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                            @Html.AntiForgeryToken()
                            @*<h4>Change User Name</h4>*@
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.DisplayName, new { @class = "col-md-2 control-label" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-6">
                                    <input type="submit" class="btn btn-default" value="Change Name" />
                                </div>
                            </div>
                        }
                        @*<div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> Open
                                <i class="fa fa-circle text-danger"></i> Bounce
                                <i class="fa fa-circle text-warning"></i> Unsubscribe
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







          


